@import "./scrollbar.css";

.commentContainer {
    height: 500px;
    display: flex;
}

.commentBox {
    height: 95%;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.commentBox::-webkit-scrollbar {
    width: 0px;
}

.commentShowBox {
    min-height: 50px;
    width: 100%;
    padding: 5px 5px 0 5px;
    margin: 0 0 15px 0;
    border-radius: 10px;
    position: relative;
}

.commentProfile {
    width: 100%;
}

.commentText {
    border-radius: 10px;
    width: 100%;
    background: #ecebebea;
    color: #1f1e1e;
    padding: 5px;
    position: 'relative';
}

.commentTextHeader {
    display: flex;
}

.commentMenu {
    cursor: pointer;
}

.commentInputBox {
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    background-color: #ecebebea;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.295);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.input-container {
    display: flex;
    width: 100%;
}

.input-container input {
    flex: 1;
    border: none;
    padding: 10px;
    border-radius: 4px 0 0 4px;
    font-size: 16px
}

.input-container input:focus {
    outline: none;
}

.send-button {
    background-color: #512da8;
    /* Blue color */
    color: white;
    border: none;
    padding: 0 15px;
    border-radius: 0 4px 4px 0;
    font-size: 16px;
    cursor: pointer;
}

/* .send-button svg {
    height: 18px;
    width: 18px;
    fill: white;
} */

/* .commentInputBox {
    padding: 5px 0 5px 0;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
    margin: 5px 5px 0 5px;
    display: flex;
    align-content: stretch;
} */

.commentInput,
.commentSentBtn {
    flex: 1 0 auto;
    border: 1px solid #512da8;
    outline: none;
}

.commentInput {
    width: 90%;
    height: 30px;
    padding: 5px 5px 5px 0;
    border-radius: 10px 0 0 10px;
}

.commentInput::placeholder {
    padding-left: 10px;
}

.commentSentBtn {
    cursor: pointer;
    background: #512da8;
    color: #FFF;
    padding-top: 2px;
    border-radius: 0 10px 10px 0;
}

.commentSentBtn:hover {
    background: #5012e2d8;
}