@import "./scrollbar.css";

.commentContainer {
    height: 500px;
    display: flex;
}

.commentBox {
    height: 95%;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.commentShowBox {
    min-height: 50px;
    width: 100%;
    padding: 5px 5px 0 5px;
    margin: 0 0 15px 0;
    border-radius: 10px;
    position: relative;
}

.commentProfile {
    width: 100%;
}

.commentText {
    border-radius: 10px;
    width: 100%;
    background: #ecebebea;
    color: #1f1e1e;
    padding: 5px;
    position: 'relative';
}

.commentTextHeader {
    display: flex;
}

.commentMenu {
    cursor: pointer;
}

.commentInputBox {
    padding: 5px 0 5px 0;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
    margin: 5px 5px 0 5px;
    display: flex;
    align-content: stretch;
}

.commentInput,
.commentSentBtn {
    flex: 1 0 auto;
    border: 1px solid #1976D2;
    outline: none;
}

.commentInput {
    width: 90%;
    height: 30px;
    padding: 5px 5px 5px 0;
    border-radius: 10px 0 0 10px;
}

.commentInput::placeholder {
    padding-left: 10px;
}

.commentSentBtn {
    cursor: pointer;
    background: #1976D2;
    color: #FFF;
    padding-top: 2px;
    border-radius: 0 10px 10px 0;
}

.commentSentBtn:hover {
    background: #0563c2;
}