.containerBox {
    width: 60%;
    height: 100%;
    background-color: #FAFAFA;
    position: relative;
    overflow-y: scroll;
    overscroll-behavior: contain;
    scroll-behavior: smooth;
}

.containerBox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.containerBox::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5;

}

.containerBox::-webkit-scrollbar-thumb {
    background-color: #000000;
}


.storySection {
    margin: 20px 20px 0 20px;
}

.storyHeader {
    display: flex;
    justify-content: start;
}

.storyBox {
    display: flex;
    overflow-x: scroll;
    position: relative;
}

.storyBox::-webkit-scrollbar {
    display: none;
}

.story {
    min-width: 110px;
    height: 160px;
    margin-right: 10px;
    position: relative;
}

.storyData {
    max-width: 100%;
    height: 180px;
    object-fit: cover;
}

.storyProfile {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    bottom: 10px;
    left: 10px;
    border: 3px solid #FAFAFA;

}

.storyPaginate {
    position: fixed;
    width: 60px;
    height: 60px;
    top: 40px;
    right: 100px;
    background-color: #0C9;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.postSection {
    margin: 10px 20px 0 20px;
}

.filterBtn {
    border: none;
    cursor: pointer;
    background: none;
    font-weight: bold;
}

.postContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5px;
}

.postHeader {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    margin-top: 8px;
}

.postProfile {
    display: flex;

}

.postProfile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.profileText {
    margin-left: 5px;
}

.postProfile p {
    font-weight: 500;
    color: #626262;
    margin: 0;
}

.postProfile .postDate {
    font-size: 13px;
    color: #9a9a9a;
    margin: 0;
    padding: 0;
    text-align: left;
}

.postAction {
    color: #9a9a9a;
    display: flex;
}

.postLike {
    display: flex;
    margin-right: 30px;
}

.postComment {
    display: flex;
    margin-right: 8px;
}

.postActionText {
    margin-top: 0;

}

.postContent {
    text-align: left;
    padding-left: 8px;
    margin-top: 8px;
}