:root {
    --body-color: #efefef;
    --nav-color: #1876f2;
    --bg-color: #fff;
}

body {
    background: var(--body-color);
    transition: background 0.3s;
}

.profile-container {
    /* padding: 20px 15%; */
    width: 70%;
    color: #626262;
    position: relative;
}

.cover-img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 14px;
}

.profile-details {
    background: var(--bg-color);
    padding: 20px;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.pd-row {
    display: flex;
    align-items: flex-start;
}

.pd-image {
    width: 100px;
    margin-right: 20px;
    border-radius: 6px;
}

.pd-row div h3 {
    font-size: 25px;
    font-weight: 600;
}

.pd-row div p {
    font-size: 13px;
}

.pd-row .img {
    width: 50px;
    height: 50px;
    margin-top: 12px;
}

.pd-right button {
    background: #1876f2;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
}

.pd-right button img {
    height: 15px;
    margin-right: 10px;
}

.pd-right button:first-child {
    background: #e4e6eb;
    color: #000;
}

.pd-right {
    text-align: right;
}

.pd-right a {
    background: #e4e6eb;
    border-radius: 3px;
    padding: 12px;
    display: inline-flex;
    margin-top: 30px;
}

.pd-right a img {
    width: 20px;
}

.profile-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
}

.info-col {
    flex-basis: 33%;
    height: 100%;
    position: relative;
    overflow-y: scroll;
    overscroll-behavior: contain;
    scroll-behavior: smooth;

}

.post-col {
    flex-basis: 65%;
    height: 500px;
    position: relative;
    overflow-y: scroll;
    overscroll-behavior: contain;
    scroll-behavior: smooth;
}

.post-col::-webkit-scrollbar-track,
.info-col::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.post-col::-webkit-scrollbar,
.info-col::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5;

}

.post-col::-webkit-scrollbar-thumb,
.info-col::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.profile-intro {
    background: var(--bg-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.profile-intro he {
    font-weight: 600;
}

.intro-text {
    text-align: center;
    margin: 10px 0;
    font-size: 15px;
}

.intro-text img {
    width: 15px;
    margin-bottom: -3px;
}

.profile-intro hr {
    border-radius: 0;
    height: 1px;
    background: #ccc;
    margin: 24px 0 10px 0;
}

.profile-intro ul li {
    list-style: none;
    font-size: 15px;
    margin: 0 0 15px 0;
    display: flex;
    align-items: center;
}

.profile-intro ul li img {
    width: 26px;
    margin-right: 10px;
}

.title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-box a {
    text-decoration: none;
    color: #1876f2;
    font-size: 14px;
}

.photo-box {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    margin-top: 15px;
}

.photo-box div img {
    width: 100%;
    cursor: pointer;
}

.profile-intro p {
    font-size: 14px;
}

.friends-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.friends-box .item img {
    margin-left: 3px;
    width: 100px;
    cursor: pointer;
    padding-bottom: 20px;
}

.friends-box .item {
    position: relative;
}

.friends-box p {
    position: absolute;
    bottom: 0;
    left: 0;
}

.aboutUsAction {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.updateProfileBox {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #F5F5F5;
    position: relative;
}

.updateProfileBox .avatarUpload {
    position: absolute;
    top: unset;
    left: 50%;
    bottom: 70px;
    transform: translateX(-50%);
    color: #F5F5F5;
    cursor: pointer;
    border-radius: 50%;
    z-index: 2;
}

.updateProfileBox .avatarUpload:hover {
    border: 3px solid #1876f2;
}

.updateProfileAction {
    display: flex;
    justify-content: space-between;
}

.updateProfileAction .nameEdit {
    margin-top: 3px;
    width: 100%;
}